@import "../../../Theme.scss";
.friend,
.friend-request {
  display: flex;
  padding: 5px;
  margin: 5px 0px;
  width: 100%;
  color: white;
  .friend > section {
    position: absolute;
  }
  .friend-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span {
      line-height: 1.35;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .friend-actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
    svg {
      margin: 0px 5px;
      font-size: 25px;
      cursor: pointer;
    }
    .redX {
      color: red;
    }
  }
}

.friend-link {
  text-decoration: none;
}

.userStatus {
  $size: 16px;
  background-color: gray;
  width: $size;
  height: $size;
  position: relative;
  margin-left: $size;
  margin-top: -$size + 4px;
  border-radius: 50%;
  border: 3px solid $surface;
}
