@import "../../../Theme.scss";

$padding-onsides: 20px;

.friend-status {
  display: flex;
  flex-direction: column;
  flex: 1; // strech
  background-color: $surface;
  .friend-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
    margin: 0px 20px;
    padding: 15px 0px;
    button {
      padding: 5px $padding-onsides;
      color: lightgray;
    }
    button:not(:last-child):hover {
      background-color: $surface-highlight;
    }
    .title {
      display: flex;
      align-items: center;
      margin-right: 30px;
      svg {
        margin-right: 10px;
      }
    }
  }

  .friends-by-status {
    margin: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    .requests {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    hr {
      width: 100%;
      border-color: gray;
    }
  }
  .friend-request {
    border-radius: 5px;
  }
  .selected {
    color: lightgray;
  }

  .send-friend-request {
    button {
      width: 250px; //to fit whole send friend request text
      background-color: $gradient-pink;
    }
  }
}

//mobile
@media (max-width: 600px) {
  .friend-nav {
    margin: 0 !important;
    button {
      padding: 5px 5px !important;
    }
  }

  .send-friend-request {
    button {
      font-size: 10px;
      padding: 10px 0px;
    }
  }
}

//mobile specific bottom navigation
.friend-bottom-nav {
  display: flex;
  background-color: $background;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  svg {
    cursor: pointer;
    width: 36px;
    height: 26px;
  }
}

.drawer-friendlist > .MuiPaper-root{
  background-color: $background !important;
  color:white;
  display: flex;
  //todo : style drawer
  width: 50%;
}