@import "../../../Theme.scss";
@import "../../../global.scss";

.friends {
  display: flex;
  height: $fullHeight-with-navbar;
  color: white;
  flex:1;
  .dms {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: $surface;
    overflow-y: scroll;
    flex:.2;
    .dm-top {
      margin: 15px 10px 0px 10px;
      color: lightgray;
      h6:first-child{
        cursor: pointer;
      }
      .selected{
        background-color:$surface-highlight;

      }
    }
    .dm-top > h6:first-child {
      margin-bottom: 40px;
    }
    h6 {
      display: flex;
      align-items: center;
      svg {
        margin-right: 10px;
      }
    }
    button {
      margin-bottom: 20px;
      align-self: flex-start;
    }
    .dm-friend-avatars {
      display: flex;
      flex-direction: column;
    }
  }
  .dm-content{
    display:flex;
    flex:1;
  }
}
