@import "../../Theme.scss";
@mixin flexWhite() {
  display: flex;
  color: white;
}
.landing-page {
  @include flexWhite();
  flex-direction: column;
  button {
    border: 1px solid $gradient-pink !important;
    color: white;
  }
  svg {
    font-size: 35px;
    margin-right: 20px;
  }
  .hero {
    background: linear-gradient(to right, $gradient-purple, $gradient-pink);
    padding: 100px;
    @media (max-width: 600px) {
      padding: 20px;
    }

    img {
      object-fit: scale-down;
      @media (max-width: 600px) {
        display: flex;
        height: 80px;
      }
    }
    .alreadyMember {
      color: lightgray;
      display: flex;
      button {
        margin-left: 10px;
      }
    }
    .btnImg {
      width: 80px;
      height: 25px;
      margin: 0px 10px;
      @media (max-width: 600px) {
        width: 50px;
        margin: 0px 5px;
      }
    }
    .btns {
      width: 100%;
      button {
        color: lightgray;
        border: 1px solid $gradient-pink !important;
      }
      margin-bottom: 20px;
    }
    .btns-mobile {
      button {
        margin: 10px 10px 0 0;
      }
      button:last-child {
        margin-bottom: 20px;
      }
    }
  }
  .connect {
    @include flexWhite();
    flex-direction: column;
    padding: 100px;
    margin-bottom: 100px;

    @media (max-width: 600px) {
      padding: 0px;
      article {
        flex-direction: column;
        align-items: center;
      }
      section{
        text-align: center;
      }
      h3{
        display:flex;
        align-items: center;
        justify-content: center;
        svg{
          margin-right: 5px;
        }
      }
    }

    button {
      margin-left: auto;
      margin-right: auto;
    }
    article {
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;

      h6 {
        color: lightgray;
      }
    }
  }
  .experience {
    @include flexWhite();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    @media (max-width: 600px) {
      padding: 30px;
    }
    .exp-grid {
      display: flex;
      margin: 100px 0;
      @media (max-width: 600px) {
        flex-direction: column;
      }

      section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px;
        @media (max-width: 600px) {
          border-left: 0;
          border-right: 0;
        }

        border: 1px solid $surface;
        h4 {
          margin-bottom: 20px;
          font-weight: 300;
        }
      }
      section:first-child {
        border-left: 1px solid transparent;
      }
      section:last-child {
        border-right: 1px solid transparent;
      }
      svg {
        font-size: 150px;
      }
    }
  }
  .chat-w-friends {
    @include flexWhite();
    margin: 0px 20px;
    @media (max-width: 600px) {
      flex-direction: column;
      img {
        width: 95% !important;
      }
    }

    justify-content: space-around;
    align-items: center;
    img {
      width: 627px;
      height: 475px;
      object-fit: scale-down;
      border-radius: 15px;
    }
  }
  .share-profile {
    @include flexWhite();

    margin: 200px 0;
    padding: 100px;
    @media (max-width: 600px) {
      padding: 20px;
      margin: 50px 0;
      svg {
        font-size: 30px;
        margin-right: 10px;
      }
    }
    justify-content: space-around;
    align-items: center;
  }

  .pros-cons {
    @include flexWhite();

    flex-direction: column;
    align-items: center;
    padding: 200px;

    @media (max-width: 600px) {
      padding: 10px;
      svg {
        margin-right: 5px;
      }
      .cons > h6 {
        margin-left: 40px !important;
      }
    }

    article {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
    }
    .cons > h6 {
      margin-left: 55px;
    }
    .pro,
    .con {
      display: flex;
      align-items: center;
    }
    .pro > svg {
      color: $gradient-purple;
    }
    .con > svg {
      color: $gradient-pink;
    }
  }
}
.links {
  @include flexWhite();
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 100px;
  @media (max-width: 600px) {
    margin: 100px 0;
    padding: 0;
    h3 {
      text-align: center;
    }
  }
  img {
    width: 36px;
    height: 36px;
    margin: 0 15px;
    cursor: pointer;
  }
  .link-imgs {
    background-color: $surface;
    padding: 15px;
    border-radius: 40px;
    margin-top: 20px;
  }
}
footer {
  @include flexWhite();
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  a {
    color: $gradient-pink;
    text-decoration: none;
  }

  @media (max-width:600px) {
    align-items: center;
    padding:0px;
    justify-content: space-around;
    margin-bottom:20px;
  }
}
