@import "../../../Theme.scss";

.gameProfileCreator-container {
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.step-navigation {
  .MuiStepLabel-label,
  .MuiStepLabel-alternativeLabel {
    color: white !important;
  }
  margin: 25px 0;
}

.gameProfileCreator {
  display: flex;
  flex: 1;
  flex-direction: column;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .ign {
    margin-top: 50px;
    h5 {
      margin: 1em 0;
    }
    input,
    label {
      color: white;
    }
    input {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
    }
    .info {
      display: flex;
      .ign-info-left {
        margin-right: 15px;
        border-right: 1px solid lightgray;
        max-width: 250px;
        p {
          margin-right: 1em;
        }
        h6 {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          svg {
            margin-right: 5px;
          }
        }
      }
      .ign-info-right {
        display: flex;
        flex-direction: column;
        min-width: 250px;
        button {
          align-self: flex-end;
          margin-top: 5px;
        }
      }
    }
  }
}
