@import "../../../Theme.scss";
@import "../../../global.scss";

.userProfileCustomization {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userProfileForm {
  height: $fullHeight-with-navbar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto, sans-serif;
  color: white;
  .info {
    background-color: $surface;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
  }
  .field {
    display: flex;
    align-items: center;
    $labelMargin: 50px;
    margin-right: calc($labelMargin / 2);
    label {
      margin-right: $labelMargin;
      margin-left: calc($labelMargin / 2);
    }
    .date {
      div {
        margin: 5px;
        width: 310px;
      }
    }
    #select {
      width: 100%;
      margin: 2px 0;
    }
  }
  .birthday {
    label {
      margin-right: 25px !important; //override label margin from .field
    }
  }
  input,
  label {
    color: lightgray;
    border-radius: 5px;
  }
  input {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.col {
  flex-direction: column;
  align-items: flex-start !important;
  margin: 0 20px;
  div {
    margin: 2px 0;
  }
}
.lang > div:last-child > div:last-child,
.lang > div:last-child {
  max-width: 330px !important; //TODO: handle resizing of multi select area
}

#select > div {
  background-color: $surface;
}

//mobile
@media (max-width: 600px) {
  //todo
}
