@import "../Theme.scss";
$spacing: 10px;

header {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    to left,
    $gradient-sharppink,
    $gradient-pink,
    $gradient-purple
  );
  border-image-slice: 1;
  section,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
    text-decoration: none;
  }
  a:hover,
  svg:hover {
    color: white;
  }

  img {
    width: inherit;
    height: 40px;
  }
  .logo {
    display: flex;
    flex: 1;
    margin-right: 6em;
  }
  .nav,
  .menu {
    svg {
      margin: 0 $spacing;
    }
  }
  .menu {
    div {
      width: 35px;
      height: 35px;
      margin-right: $spacing;
      @media (max-width: 800px) {
        margin-right: 0;
      }
    }
    svg {
      cursor: pointer;
    }
    .plus {
      font-size: 30px;
    }
    .plus:hover {
      color: $gradient-sharppink;
    }
  }
}

//mobile

@media (max-width: 600px) {
  header {
    justify-content: space-between;
    a:not(:first-child) {
      margin-left: 10px;
    }
  }
}

#userProfileMenu > .MuiPaper-root {
  background-color: $surface;
  color: white;
  svg {
    margin-right: 5px;
  }
}

#feedBackDialog > div > .MuiPaper-root {
  background-color: $surface;
  color: white;
  width: 500px;
  .MuiDialogContent-root {
    div {
      border-radius: 5px;
    }
    label,
    input,
    textarea {
      color: white;
    }
  }
  #feedback-select > div {
    background-color: $surface ;
    margin-bottom: 15px;
  }
  
}
