@import "../../../../global.scss";
@import "../../../../Theme.scss";

.background-image {
  width: 100vw;
  height: $fullHeight-with-navbar;
  position: absolute;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
}

.ign {
  h5 {
    margin: 1em 0;
  }
  input,
  label {
    color: white;
  }
  input {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
  form {
    position: relative;
  }
  .info {
    display: flex;

    .ign-info-left {
      margin-right: 15px;
      border-right: 1px solid lightgray;
      max-width: 250px;

      p {
        margin-right: 1em;
      }

      h6 {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        svg {
          margin-right: 5px;
        }
      }
    }
    .ign-info-right {
      display: flex;
      flex-direction: column;
      min-width: 250px;
      button {
        align-self: flex-end;
        margin-top: 5px;
      }
    }
  }
}
.roles-explanation {
  display: flex;

  .roles-info {
    margin-right: 20px;
    width: 450px;
    position: relative;
    h6 {
      display: flex;
      margin-right: inherit;
      align-items: center;
      svg {
        margin-right: 5px;
      }
    }

    border-right: 1px solid lightgray;
  }
  .roles-select {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    button {
      margin: 5px;
      width: 45%;
    }
    button:last-child {
      margin-top: 15px;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  .role-button {
    display: flex;
    position: relative;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px;
    padding: 0 10px;
    border-radius: 5px;
    width: 8em;
    justify-content: space-between;
    cursor: pointer;
    .MuiCheckbox-root {
      padding-right: 0;
      svg {
        color: $gradient-pink;
      }
    }
  }
}

.rank-related {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  h4 {
    text-shadow: -2px 2px 4px black;
  }
  .your_rank {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  .rank_button {
    margin: 10px 15px;
    img {
      $imgsize: 45px;
      width: $imgsize;
      height: $imgsize;
      cursor: pointer;
      filter: grayscale(1);
    }
    img:hover {
      filter: brightness(1.2);
    }
  }
  .rank_selected {
    img {
      filter: brightness(1.2);
    }
  }
}

.age-step {
  input {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
  }
  .age-info {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    button {
      background-color: rgba(0, 0, 0, 0.7);
      margin-top: 5px;
    }
  }
}

.game-profile-container {
  .game-profile-info {
    position: relative;
    display: flex;
    align-items: center;
    .info-left {
      width: 320px;
      margin-right: 20px;
    }
    .info-right {
      width: 300px;
      .MuiAvatar-root {
        cursor: pointer;
        filter: brightness(0.8);
      }
      .MuiAvatar-root:hover {
        filter: brightness(1);
      }
      .avatar-overlay {
        position: absolute;
        z-index: 10;
        font-size: 35px;
        color: white;
      }
      .bio {
        margin-top: 10px;
        div {
          background-color: rgba(0, 0, 0, 0.7);
        }
        margin-bottom: 10px;
      }
    }
  }
}

.discord-oath {
  flex-direction: row !important;
  a {
    background-color: $discord-blue;
  }
  a:hover {
    background-color: $discord-blue;
  }
  .discord-icon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    g {
      fill: white;
    }
  }
  .discord-link {
    position: relative;
    display: flex;
    flex-direction: column;
    .discord-user {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 32px;
      height: 32px;
      border-radius: 5px;
      margin-right: 10px;
    }
    button:last-child {
      margin-top: 10px;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .discord-link-info {
    position: relative;
    margin-right: 20px;
    width: 300px;
    text-shadow: 2px 2px 1px black;
    .title {
      display: flex;
      align-items: center;
      svg:last-child {
        margin: 5px;
        width: 22px;
      }
    }
    b {
      color: white;
    }
  }
}

.game-profile-summary-container {
  flex-direction: row !important;

  .game-profile-info {
    position: relative;
    margin-right: 20px;
    max-width: 350px;
  }

  .game-profile-summary {
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 25px;
    .summary-labels {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      border-right: 1px solid lightgray;
      p {
        margin-right: inherit;
        height: 30px;
      }
    }
    .summary-values {
      display: flex;
      flex-direction: column;
      .summary-value {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
      }
      svg {
        margin-left: 10px;
      }
      svg:hover {
        color: $gradient-pink;
        cursor: pointer;
      }
      button:last-child {
        margin: 5px 0;
      }
      .discord-value {
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.agent-selector {
  position: relative;
  display: flex;
  align-items: center;
  .agent-selection-info {
    h6 {
      svg {
        margin-right: 10px;
      }
      display: flex;
      align-items: center;
      text-shadow: 2px 2px 2px black;
    }
    margin-right: 10px;
  }

  .agents {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
  }

  .agent-button {
    $agentAvatarSize: 60px;
    width: $agentAvatarSize;
    height: $agentAvatarSize;
    filter: grayscale(1);
    margin: 2px;
  }
  .agent-selected {
    filter: grayscale(0);
  }
}

.agent-button:hover {
  filter: grayscale(0);
  cursor: pointer;
}
.agent-selection-container > button {
  margin-top: 20px;
}
