$background: #121417;
$surface: #1e2024;

$surface-highlight: hsl(217, 9%, 30%);
$gradient-purple: #40279f;
$gradient-darkpurple: #370d8b;
$gradient-pink: #9443b9;
$gradient-sharppink: #e084e5;

$chat-primary: hsl(217, 9%, 30%);
$chat-secondary: hsl(212, 47%, 48%);

$discord-blue: rgb(88, 101, 242); //grabbed with eyedrop tool
